.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
}

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

li {
    list-style-type: none
}

.peliculaItem {
    color: azure;
    background-color: rgb(47, 49, 53);
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.elementTitle {
    font-size: large;
    font-weight: bold;
}

.elementTagline {
    font-style: italic;
}

.elementStars {
    float: right;
}